<h1>Howdy, this here is Find and Replace</h1>
<h3>Just go ahead and slip your sentence below and your target word to change and replacement word.</h3>

<form action="/results">
  <div class="form-group">
     <label for="sentence">Enter your sentence here:</label>
     <input id="sentence" name="sentence" class="form-control" type="text">
  </div>

  <div class="form-group">
     <label for="target">What word you want to replace:</label>
     <input id="target" name="target" class="form-control" type="text">
  </div>

  <div class="form-group">
     <label for="replacement">What do you want to replace it with?</label>
     <input id="replacement" name="replacement" class="form-control" type="text">
  </div>

  <button type="submit" class="btn-success">Submit</button>
</form>
