<h3>Your original sentence</h3>
  <p><%= @sentence %></p>

<h3>Your target word:</h3>
  <p><%= @target %></p>

<h3>Your replacement word:</h3>
  <%= @replacement %>

<h3>Your final sentence sentence:</h3>
<p><%= @sentence_2 %></p>
