<h3>Your original sentence <%= @sentence %></h3>
<h3>Your target word: <%= @target %></h3>
<h3>Your replacement word: <%= @replacement %></h3>

<h3>Your final sentence sentence <%= @sentence_2 %></h3>
